@page
@model MyApp.Namespace.CreateReservationModel
@{
    ViewData["Title"] = "Create Reservation";
}

<h1>Create Reservation</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Reservation.RoomId" class="control-label">Room</label>
        <select asp-for="Reservation.RoomId" class="form-control" asp-items="Model.Rooms">
            <option value="">Select a room</option>
        </select>
    </div>
    <div class="form-group">
    <label asp-for="Reservation.StartTime" class="control-label">Start Time</label>
    <input asp-for="Reservation.StartTime" class="form-control" type="datetime-local" />
    </div>
    <div class="form-group">
        <label asp-for="Reservation.EndTime" class="control-label">End Time</label>
        <input asp-for="Reservation.EndTime" class="form-control" type="datetime-local" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <script>
        $(document).ready(function(){
            $('.date-time-picker').datetimepicker();
        });
    </script>
}